<md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
              <span>Welcome to KMS Hospital</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Refresh">
                <md-tooltip md-direction="left">
                    Refresh
                </md-tooltip>
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>
 <md-content layout-padding>
    <p class="md-title">Doctor Login</p>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Username</label>
        <input required md-no-asterisk name="user" ng-model="login.user">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input required name="password" ng-model="login.password" type="password">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised" ui-sref="patient-list">Login</md-button>
    </form>
  </md-content>